--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple/
torch
torchaudio
torchvision
tribev2 @ git+https://github.com/facebookresearch/tribev2.git
whisperx @ git+https://github.com/m-bain/whisperX.git
faster-whisper
numpy
huggingface_hub
hf_transfer
uv
